@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 16px;
}
/* delay 4.5s */
.animate__delay-head-init{
    animation-delay: calc(var(--animate-delay)*3.15);
}
.animate__delay-banner-init{
    animation-delay: calc(var(--animate-delay)*3.7);
}
.animate__delay-body-init{
    animation-delay: calc(var(--animate-delay)*4.3);
}

.animate__delay-filter{
    animation-delay: calc(var(--animate-delay)*4.7);
}

.animate__delay-filter-2{
    animation-delay: calc(var(--animate-delay)*5.3);
}

.animate__delay-banner{
    animation-delay: calc(var(--animate-delay)*.1);
}
.animate__delay-body{
    animation-delay: calc(var(--animate-delay)*.1);
}


body{
    background: #f5f5f5;
    transition: background .25s;
}

.darkbg{
    background: #1C2131;
}

header{
    z-index: 100;
    transition: background .25s;
}

.home-logo-container{
    transition: background .25s;
}

.home-btn-logo{
    mask: url('../asset/logo.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/logo.svg') no-repeat center / contain;
    cursor: pointer;
}


.btn{
    transition: .05s;
}

.btn:hover{
    transition: .05s;
}


.github.link{
    mask: url('../asset/github.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/github.svg') no-repeat center / contain;
    cursor: pointer;
    transition: .25s;
}

.linkedin.link{
    mask: url('../asset/linkedin.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/linkedin.svg') no-repeat center / contain;
    cursor: pointer;
    transition: .25s;
}

.email.link{
    mask: url('../asset/email.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/email.svg') no-repeat center / contain;
    cursor: pointer;
    transition: .25s;
}

#filter{
    transition: border-radius .5s;
}

/* .filter-text{
    left:-3.5rem;
} */

.filter-container{
    z-index: 1;
}

.filter-arrow{
    mask: url('../asset/arrow.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/arrow.svg') no-repeat center / contain;
    top: 40%;
    right:8px;
    z-index: -1;
}

.project-card{
    transition: background .3s;
}
.project-img{
    transition: background .25s;
}

.section-jumper-arrow{
    mask: url('../asset/arrow.svg') no-repeat center / contain;
    -webkit-mask: url('../asset/arrow.svg') no-repeat center / contain;   
}
.section-jumper-link{
    z-index: 999;
}

.section-jumper-link{
    transition: background .5s;
}

footer{
    position: relative;
    z-index: 5;
}

.to-top-btn{
    z-index: 99999;
}

.case-study-w-bg-section{
    transition: background .25s;
}


@media (min-width:1024px) {
    .section-jumper-link{
        width: auto;
        background: inherit;
        color: inherit;
        position: fixed;
        right: 1.2%;
        bottom: 5rem;
        flex-direction: column;
    }
    .section-jumper-arrow{
        width: 1.25rem;
        margin-bottom: .75rem;
        margin-right: 0;
    }
    .section-jumper-link:hover .section-jumper-arrow{
        margin-bottom: 1rem;
        transition: margin-bottom .25s;
    }
}

.filter-sign{
    animation: MoveUpDown 2s ease-in infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
}